@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Areas/Admin/Views/AdminLayout/AdminLayout.cshtml";
}

<h1>Create Contact</h1>

<form method="post" enctype="multipart/form-data">

    <label>Footer Description</label>
    <input type="text" asp-for="FooterDescription" class="form-control" />
    <br />

    <label>Adress</label>
    <input type="text" asp-for="Adress" class="form-control" />
    <br />

    <label>Phone</label>
    <input type="text" asp-for="Phone" class="form-control" />
    <br />

    <label>Mail</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />

    <label>Working Hour</label>
    <input type="text" asp-for="WorkingHour" class="form-control" />
    <br />



    <button class=" btn btn-primary">Submit</button>
</form>
